# Files

.eslintrc.js
apollo.config.js
gatsby-browser.js
gatsby-config.js
gatsby-node.js
gatsby-ssr.js
getContentfulEnvironment.js
jest.config.js
jest.setup.js
jest-preprocess.js
loadershim.js
tailwind.config.js

# Directories

.cache/
node_modules/
public/
src/@types/__generated__
src/@types/__modules__
src/__mocks__/