@tailwind base;

:root {
  /* COLORS */
  --offwhite: #f3f2f1;
  --charcoal: #1e2223;
  --offpink: #fcf0ec;

  /* FONT FAMILY */
  --playfair-display: "Playfair Display", serif;
  --playfair-display-sc: "Playfair Display SC", serif;
  --lobster-two: "Lobster Two", cursive;
  --mrs-sheppards: "Mrs Sheppards", cursive;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior-y: none;
  background-color: var(--charcoal);
}
