@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --offwhite: #f3f2f1;
  --charcoal: #1e2223;
  --offpink: #fcf0ec;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--charcoal);
}
